body {
    font-family: Arial;
    padding: 20px;
    background: #f9f9f9;
}

nav {
    background: #ddd;
    padding: 10px;
    border-radius: 8px;
}

button {
    padding: 8px 12px;
    background: black;
    color: white;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
    background: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: red;
}